<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Projeto Final</ui:insert></title>
	<h:outputStylesheet library="css" name="sistema.css" />
</h:head>

<h:body>
	<header>
	<div style="float: left;">
		<h:link outcome="/telaPrincipal">
			<h:graphicImage library="images" name="logo.png" />
		</h:link>
	</div>

	<div style="float: right; margin-right: 110px">
		<h:form style="display: inline-block">

			<p:link outcome="/telaPrincipal" value="Ir Para Tela Principal"
				style="color: #fff">
			</p:link>


		</h:form>
	</div>


	<div style="clear: both;"></div>


	</header>
</h:body>

<div id="conteudo">
	<ui:insert name="corpo" />
</div>

<p:separator style="margin-top: 20px" />

<footer> Produced by Jhonathan Camacho. </footer>

</html>