<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript"
		src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<title><ui:insert name="titulo">Projeto Final</ui:insert></title>
	<h:outputStylesheet library="css" name="sistema.css" />
</h:head>

<h:body>
	<header>
	<div style="float: left;">
		<h:link outcome="/home">
			<h:graphicImage library="images" name="logo.png" />
		</h:link>
	</div>

	<div style="float: right; margin-right: 110px">
		<h:form style="display: inline-block">

			<p:growl id="messages" showSummary="true" showDetail="false"
				autoUpdate="true" />

			<p:menuButton value="Options">

				<p:menuitem value="Exit" actionListener="#{loginController.logout}"
					icon="ui-icon-close" />

				<p:menuitem value="View Events" icon="ui-icon-folder-open"
					ajax="false" actionListener="#{optionController.viewEvents}"/>

				<p:menuitem value="Create Event"
					actionListener="#{optionController.createEvent}" ajax="false"
					icon="ui-icon-plusthick" />

				<p:menuitem value="Find Event By Date"
					actionListener="#{optionController.findEvent}" ajax="false"
					icon="ui-icon-search" />

				<p:menuitem value="Find Event By Participants"
					actionListener="#{optionController.findEventByParticipants}" ajax="false"
					icon="ui-icon-search" />


				<p:menuitem value="Find Users"
					actionListener="#{optionController.findPerson}" ajax="false"
					icon="ui-icon-search" />


				<p:menuitem value="User Data"
					actionListener="#{optionController.userData}" ajax="false"
					icon="ui-icon-wrench" />

				<p:menuitem value="Delete Account"
					actionListener="#{deletePersonController.send}" ajax="false"
					icon="ui-icon-trash" update=":messages" />

				<p:separator />

				<p:menuitem value="Homepage" url="/home.xhtml" icon="ui-icon-home" />

			</p:menuButton>

		</h:form>
	</div>

	<div style="clear: both;"></div>

	</header>
</h:body>

<div id="conteudo">
	<ui:insert name="corpo" />
</div>

<p:separator style="margin-top: 20px" />

<footer> Produced by Jhonathan Camacho. </footer>

</html>