<ui:composition template="/WEB-INF/template/LayoutPadraoOut.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Register for User</ui:define>

	<ui:define name="corpo">
		<br />

		<h:form>

			<p:messages id="messages" />

			<p:panelGrid columns="2">
				<f:facet name="header">
					Register User
				</f:facet>


				<p:outputLabel value="Name:" for="name" />
				<p:inputText id="name" value="#{createPersonController.personBean.name}"
					required="true" requiredMessage="Name: Campo obrigatorio" />
					
				<p:outputLabel value="NickName:" for="nickName" />
				<p:inputText id="nickName" value="#{createPersonController.personBean.nickName}"
					required="true" requiredMessage="NickName: Campo obrigatorio" />
					

				<p:outputLabel value="E-mail:" for="email" />
				<p:inputText id="email" value="#{createPersonController.personBean.email}"
					required="true" requiredMessage="Email: Campo obrigatorio"
					validatorMessage="O email informado não esta correto!!">

					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

				</p:inputText>

				<p:outputLabel for="pwd1" value="Password:" />
				<p:password id="pwd1" value="#{createPersonController.personBean.password}"
					match="pwd2" label="Password 1" required="true"
					requiredMessage="Password 1: Campo obrigatorio"
					validatorMessage="Password 1 e Password 2 não são iguais. Por favor digite a senha novamente !!" />

				<p:outputLabel for="pwd2" value="Confirm the password:" />
				<p:password id="pwd2" value="#{createPersonController.personBean.password}"
					label="Password 2" required="true"
					requiredMessage="Confirm the password: Campo obrigatorio" />


				<f:facet name="footer">
					<p:commandButton value="Register" action="#{createPersonController.confirm}"
						update="messages" />
				</f:facet>

			</p:panelGrid>

		</h:form>

		<br />
	</ui:define>

</ui:composition>