<ui:composition template="/WEB-INF/template/LayoutPadraoIn.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo"> Event Information </ui:define>

	<ui:define name="corpo">
		<br />

		<p:growl id="messages" showSummary="true" showDetail="false"
			autoUpdate="true" />

		<h:form id="form1">


			<p:panelGrid columns="2" style="margin-top:20px">
				<f:facet name="header">
					<p:row>
 			           <p:column colspan="7">Register Event</p:column>
			        </p:row>
				</f:facet>

				<p:outputLabel value="NickFather:" for="nickFather" />
				<p:inputText id="nickFather"
					value="#{createEventController.event.eventFather.nick}"/>


				<p:outputLabel value="Name:" for="name" />
				<p:inputText id="name" value="#{createEventController.event.name}"
					required="true" />

				<p:outputLabel value="Nick:" for="nick" />
				<p:inputText id="nick" value="#{createEventController.event.nick}"
					required="true" disabled="#{createEventController.eventEdit}" />


				<p:outputLabel value="Date:" for="date" />
				<p:calendar id="date" value="#{createEventController.event.date}"
					pattern="dd/MM/yyyy" mask="true" required="true"
					requiredMessage="Date: Required field"
					converterMessage="The date entered does not exist !! Please enter a valid date EX: 14/01/1994" />

				<p:outputLabel value="Description:" for="description" />
				<p:inputTextarea id="description" rows="6" cols="33"
					value="#{createEventController.event.descripition}" />


				<p:outputLabel value="Latitude:" for="latitude" />
				<p:inputText id="latitude"
					value="#{createEventController.event.latitude}" />

				<p:outputLabel value="Longitude:" for="longitude" />
				<p:inputText id="longitude"
					value="#{createEventController.event.longitude}" />

				<p:outputLabel value="File:" for="panelGridFileUpload" />

				<h:panelGrid id="panelGridFileUpload" columns="1">

					<p:fileUpload
						fileUploadListener="#{createEventController.managerFileUpload.handleFileUpload}"
						mode="advanced" dragDropSupport="false" auto="true"
						allowTypes="/(\.|\/)(gif|jpe?g|png)$/" skinSimple="true" />
					
					<p:outputLabel value="File Name:" for="fileName" />
						
					<p:inputText id="fileName"
						value="#{createEventController.managerFileUpload.nameFile}" />

					<p:commandButton value="Add File"
						update=":form1:dataTableFile"
						action="#{createEventController.managerFileUpload.addFile}" />
						

					<p:dataTable id="dataTableFile" var="file"
						value="#{createEventController.listFileUpload}"
						style="width:400px">

						<p:column headerText="File Name">
							<h:outputText value="#{file.name}" />
						</p:column>

						<p:column headerText="Remove" style="width:50px">
							<p:commandLink update=":form1:dataTableFile" title="Remove Event"
								styleClass="ui-icon ui-icon-close">
								<f:setPropertyActionListener value="#{file}"
									target="#{createEventController.removeListFileUpload}"/>
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</h:panelGrid>




				<p:outputLabel value="Find Participants: " />

				<h:panelGrid columns="3">

					<p:outputLabel value="Name of Person:" for="nickNamePerson" />

					<p:inputText id="nickNamePerson"
						value="#{createEventController.managerParticipant.nameFind}" />

					<p:commandButton value="search"
						update=":form1:dataTableParticipant"
						action="#{createEventController.managerParticipant.findParticipant}" />

				</h:panelGrid>


				<p:outputLabel value="Participants: " />

				<h:panelGrid columns="1">


					<p:dataTable id="dataTableParticipant" var="participant"
						value="#{createEventController.managerParticipant.participantFinds}"
						style="width:400px">

						<f:facet name="header">
						Search Result of Participants
						</f:facet>


						<p:column headerText="Name">
							<h:outputText value="#{participant.name}" />
						</p:column>

						<p:column headerText="Add" style="width:60px">
							<p:commandLink update=":form1:dataTableParticipant2"
								title="Adicionar" styleClass="ui-icon ui-icon-plus">
								<f:setPropertyActionListener value="#{participant}"
									target="#{createEventController.managerParticipant.addParticipant}" />
							</p:commandLink>
						</p:column>
					</p:dataTable>



					<p:dataTable id="dataTableParticipant2" var="participant"
						value="#{createEventController.managerParticipant.participants}"
						style="width:400px">

						<f:facet name="header">
						Participants Added
						</f:facet>


						<p:column headerText="Name">
							<h:outputText value="#{participant.name}" />
						</p:column>

						<p:column headerText="Remove" style="width:50px">
							<p:commandLink update=":form1:dataTableParticipant2"
								title="Remover" styleClass="ui-icon ui-icon-close">
								<f:setPropertyActionListener value="#{participant}"
									target="#{createEventController.managerParticipant.removeParticipant}" />
							</p:commandLink>
						</p:column>
					</p:dataTable>

				</h:panelGrid>


				<p:outputLabel value="DBpedia: " />

				<h:panelGrid columns="1">

					<p:commandButton value="Search in DBpedia"
						update=":form1:dataTableDBpedia"
						action="#{createEventController.findDBpedia}" />

					<p:dataTable id="dataTableDBpedia" var="statement"
						value="#{createEventController.managerDBPedia.statementBeanFind}"
						style="width:800px">

						<f:facet name="header">
						Search Result of DBpedia
						</f:facet>

						<p:column headerText="Label" style="width:300px">
							<h:outputLink value="#{statement.uri}">
								<h:outputText value="#{statement.label}" />
							</h:outputLink>
						</p:column>

						<p:column headerText="Comment" style="width:300px">
							<h:outputText value="#{statement.comment}" />
						</p:column>

						<p:column headerText="Add" style="width:100px">
							<p:commandLink update=":form1:dataTableDBpedia2"
								title="Adicionar" styleClass="ui-icon ui-icon-plus">
								<f:setPropertyActionListener value="#{statement}"
									target="#{createEventController.managerDBPedia.addStatementBean}" />
							</p:commandLink>
						</p:column>
					</p:dataTable>



					<p:dataTable id="dataTableDBpedia2" var="statement"
						value="#{createEventController.managerDBPedia.list}" style="width:800px">

						<f:facet name="header">
						DBpedia Elements Added
						</f:facet>


						<p:column headerText="Label" style="width:300px">
							<h:outputLink value="#{statement.uri}">
								<h:outputText value="#{statement.label}" />
							</h:outputLink>
						</p:column>

						<p:column headerText="Comment" style="width:300px">
							<h:outputText value="#{statement.comment}" />
						</p:column>


						<p:column headerText="Remove" style="width:100px">
							<p:commandLink update=":form1:dataTableDBpedia2" title="Remover"
								styleClass="ui-icon ui-icon-close">
								<f:setPropertyActionListener value="#{statement}"
									target="#{createEventController.managerDBPedia.removeStatementBean}" />
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</h:panelGrid>





				<f:facet name="footer">
					<h:panelGroup layout="block"
						style="text-align:right; padding:2px; white-space:nowrap;">
						<p:commandButton value="Save" update=":messages"
							action="#{createEventController.save}" />

						<p:commandButton value="Close"
							action="#{createEventController.cancel}" immediate="true" />
					</h:panelGroup>
				</f:facet>


			</p:panelGrid>
		</h:form>


		<br />
	</ui:define>

</ui:composition>