<ui:composition template="/WEB-INF/template/LayoutPadraoIn.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="titulo">Find Event By Date</ui:define>

	<ui:define name="corpo">

		<p:spacer width="100%" height="10" />

		<p:growl id="messages" showDetail="true" />


		<h:form>

			<p:outputLabel value="Date1:" for="date1" />
			<p:calendar id="date1" value="#{findEventByDateController.date1}"
				pattern="dd/MM/yyyy" mask="true" required="true"
				requiredMessage="Date: Campo obrigatorio"
				converterMessage="A data informada não existe!! Insira uma data valida EX: 14/01/1994" />

			<p:outputLabel value="Date2:" for="date2" />
			<p:calendar id="date2" value="#{findEventByDateController.date2}"
				pattern="dd/MM/yyyy" mask="true" required="true"
				requiredMessage="Date: Campo obrigatorio"
				converterMessage="A data informada não existe!! Insira uma data valida EX: 14/01/1994" />


			<p:commandButton value="Find" update=":messages"
				action="#{findEventByDateController.pesquisar}" />

		</h:form>



	</ui:define>

</ui:composition>