<ui:composition template="/WEB-INF/template/LayoutPadraoIn.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="titulo">Find Event By Participant</ui:define>

	<ui:define name="corpo">

		<p:spacer width="100%" height="10" />

		<p:growl id="messages" showDetail="true" />


		<h:form id="form1">

			<h:panelGrid columns="3">

				<p:outputLabel value="Name of Person:" for="Name" />

				<p:inputText id="Name"
					value="#{findEventByParticipantController.managerParticipant.nameFind}" />

				<p:commandButton value="Find Participant"
					update=":form1:dataTableParticipant"
					action="#{findEventByParticipantController.managerParticipant.findParticipant}" />

			</h:panelGrid>


			<h:panelGrid columns="1">


				<p:dataTable id="dataTableParticipant" var="participant"
					value="#{findEventByParticipantController.managerParticipant.participantFinds}"
					style="width:400px">

					<f:facet name="header">
						Search Result of Participants
						</f:facet>


					<p:column headerText="Name">
						<h:outputText value="#{participant.name}" />
					</p:column>

					<p:column headerText="Add" style="width:60px">
						<p:commandLink update=":form1:dataTableParticipant2"
							title="Add" styleClass="ui-icon ui-icon-plus">
							<f:setPropertyActionListener value="#{participant}"
								target="#{findEventByParticipantController.managerParticipant.addParticipant}" />
						</p:commandLink>
					</p:column>
				</p:dataTable>



				<p:dataTable id="dataTableParticipant2" var="participant"
					value="#{findEventByParticipantController.managerParticipant.participants}"
					style="width:400px">

					<f:facet name="header">
						Participants Added
						</f:facet>


					<p:column headerText="Name">
						<h:outputText value="#{participant.name}" />
					</p:column>

					<p:column headerText="Remove" style="width:50px">
						<p:commandLink update=":form1:dataTableParticipant2"
							title="Remove" styleClass="ui-icon ui-icon-close">
							<f:setPropertyActionListener value="#{participant}"
								target="#{findEventByParticipantController.managerParticipant.removeParticipant}" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
			</h:panelGrid>
			
				<p:commandButton value="Find Event"
					action="#{findEventByParticipantController.findEvents}" />
			
			

		</h:form>



	</ui:define>

</ui:composition>