<ui:composition template="/WEB-INF/template/LayoutPadraoIn.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo"> Event Information </ui:define>

	<ui:define name="corpo">
		<br />

		<h:form id="form1">

			<p:outputLabel value="Name of Person:" for="nickNamePerson" />

			<p:inputText id="nickNamePerson"
				value="#{findPersonController.managerParticipant.nameFind}" />

			<p:commandButton value="Search"
				update=":form1:dataTableParticipant"
				action="#{findPersonController.managerParticipant.findParticipant}" />

			<p:dataTable id="dataTableParticipant" var="participante"
				value="#{findPersonController.managerParticipant.participantFinds}"
				style="width:450px" rowKey="#{participante.nickName}"
				selectionMode="single">
				<f:facet name="header"> Person </f:facet>

				<p:ajax event="rowSelect"
					listener="#{findPersonController.onParticipant}" />

				<p:column headerText="Name">
					<h:outputText value="#{participante.name}" />
				</p:column>

				<p:column headerText="Email">
					<h:outputText value="#{participante.email}" />
				</p:column>

			</p:dataTable>



		</h:form>



		<br />
	</ui:define>

</ui:composition>