<ui:composition template="/WEB-INF/template/LayoutPadraoOut.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Login</ui:define>

	<ui:define name="corpo">
		<br />

		<h:form>
			<p:messages id="messages" />

			<p:panelGrid columns="1">
				<f:facet name="header">
					Login
				</f:facet>

				<p:outputLabel value="NickName:" for="nickName" />
				<p:inputText id="nickName" value="#{loginController.nickName}"
					required="true" requiredMessage="NickName: Campo obrigatorio" />


				<p:outputLabel for="password" value="Password:" />
				<p:password id="password" value="#{loginController.password}"
					required="true" requiredMessage="O campo password é obrigatorio" />

				<f:facet name="footer">
					<p:commandButton value="Go" action="#{loginController.login}"
						update="messages" />
				</f:facet>

			</p:panelGrid>

		</h:form>

		<br />
	</ui:define>

</ui:composition>