<ui:composition template="/WEB-INF/template/LayoutPadraoOut.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="titulo">Tela Principal</ui:define>

	<ui:define name="corpo">
		<br />


		<h:form>
			<h:panelGrid columns="2" cellpadding="10">

				<p:commandLink id="fazerLogin"
					actionListener="#{telaPrincipalController.login}" ajax="false">
					<h:outputText value="Fazer Login" />
				</p:commandLink>

				<p:commandLink id="criarPessoa"
					actionListener="#{telaPrincipalController.cadastrarUsuario}" ajax="false">
					<h:outputText value="Criar Usuário" />
				</p:commandLink>

			</h:panelGrid>
		</h:form>


		<br />
	</ui:define>

</ui:composition>