<ui:composition template="/WEB-INF/template/LayoutPadraoIn.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Alteração Dados de Usuário</ui:define>

	<ui:define name="corpo">
		<br />

		<h:form>

			<p:messages id="messages" />

			<p:panelGrid columns="2">
				<f:facet name="header">
					Data User
				</f:facet>

				<p:outputLabel value="Name:" for="name" />
				<p:inputText id="name"
					value="#{updatePersonController.personBean.name}" required="true"
					requiredMessage="Name: Campo obrigatorio" />

				<p:outputLabel value="E-mail:" for="email" />
				<p:inputText id="email"
					value="#{updatePersonController.personBean.email}" required="true"
					requiredMessage="Email: Campo obrigatorio"
					validatorMessage="O email informado não esta correto!!">

					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

				</p:inputText>

				<p:outputLabel for="pwd1" value="Password:" />
				<p:inputText id="pwd1"
					value="#{updatePersonController.personBean.password}"
					required="true" requiredMessage="Password 1: Campo obrigatorio" />


				<f:facet name="footer">
					<p:commandButton value="Save"
						action="#{updatePersonController.salvar}" update="messages" />
						
					<p:commandButton value="Cancel"
						action="#{updatePersonController.cancelar}" update="messages" />
				</f:facet>

			</p:panelGrid>

		</h:form>

		<br />
	</ui:define>

</ui:composition>