<ui:composition template="/WEB-INF/template/LayoutPadraoIn.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">View Event</ui:define>

	<ui:define name="corpo">
		<br />

		<h:form id="form">

			<p:treeTable id="treeTable" value="#{viewEventController.root}"
				var="event" selectionMode="single">

				<p:ajax event="select"
					listener="#{viewEventController.onEventSelect}"
					update=":form:viewEvent" />

				<f:facet name="header">
            		Eventos
        		</f:facet>

				<p:column headerText="Name" sortBy="#{event.name}">
					<h:outputText value="#{event.name}" />
				</p:column>

				<p:column headerText="Date" sortBy="#{event.date}">
					<h:outputText value="#{event.dateInNewFormat}" />
				</p:column>

				<p:column headerText="Delete" style="width:24px">
					<p:commandLink update=":form" title="Remove Event"
						styleClass="ui-icon ui-icon-close"
						disabled="#{viewEventController.disabled}">
						<f:setPropertyActionListener value="#{event}"
							target="#{viewEventController.eventRemove}" />
					</p:commandLink>
				</p:column>

				<p:column headerText="Edit" style="width:24px">
					<p:commandLink update=":form" title="Edit Event"
						styleClass="ui-icon ui-icon-pencil"
						disabled="#{viewEventController.disabled}">
						<f:setPropertyActionListener value="#{event}"
							target="#{viewEventController.eventEdit}" />
					</p:commandLink>
				</p:column>

			</p:treeTable>

			<p:spacer width="100%" height="10" />

			<p:panelGrid columns="2" id="viewEvent"
				rendered="#{viewEventController.rendered}">
				<f:facet name="header">
					<p:row>
						<p:column colspan="7">Event Information</p:column>
					</p:row>
				</f:facet>


				<p:galleria value="#{viewEventController.managerFile.images}"
					var="image" panelWidth="500" panelHeight="313" showCaption="false">
					<p:graphicImage value="/temp/#{image}" title="#{image}"
						cache="true" />
				</p:galleria>

				<p:panelGrid columns="1" columnClasses="label,value"
					style="width:450px">
					<f:facet name="header">
						<p:row>
							<p:column colspan="7">Data</p:column>
						</p:row>
					</f:facet>


					<p:panelGrid columns="2" columnClasses="label,value"
						style="width:450px">
						<f:facet name="header">
							<p:row>
								<p:column colspan="7">General Data</p:column>
							</p:row>
						</f:facet>


						<p:outputLabel value="Name" />
						<p:outputLabel value="#{viewEventController.event.name}" />

						<p:outputLabel value="Nick Name" />
						<p:outputLabel value="#{viewEventController.event.nick}" />

						<p:outputLabel value="Date" />
						<p:outputLabel
							value="#{viewEventController.event.dateInNewFormat}" />

						<p:outputLabel value="Descripition" />
						<p:outputLabel value="#{viewEventController.event.descripition}" />

						<p:outputLabel value="Latitude" />
						<p:outputLabel value="#{viewEventController.event.latitude}" />

						<p:outputLabel value="Longitude" />
						<p:outputLabel value="#{viewEventController.event.longitude}" />

						<p:outputLabel value="Owner Event" />
						<p:commandLink
							value="#{viewEventController.event.nickNameOwnerOfEvent}"
							actionListener="#{viewEventController.onOwner}" ajax="false">
							<p:outputLabel
								value="#{viewEventController.event.nickNameOwnerOfEvent}" />
						</p:commandLink>


					</p:panelGrid>

					<p:spacer width="100%" height="10" />

					<p:dataTable id="display" var="participante"
						value="#{viewEventController.event.participants}"
						style="width:450px" rowKey="#{participante.nickName}"
						selectionMode="single">
						<f:facet name="header"> Event Participants </f:facet>

						<p:ajax event="rowSelect"
							listener="#{viewEventController.onParticipant}" />

						<p:column headerText="Name">
							<h:outputText value="#{participante.name}" />
						</p:column>

						<p:column headerText="Email">
							<h:outputText value="#{participante.email}" />
						</p:column>

					</p:dataTable>

					<p:spacer width="100%" height="10" />

					<p:dataTable id="display2" var="statement"
						value="#{viewEventController.event.elementsDBpedia}"
						style="width:450px">
						<f:facet name="header"> General Information Related To The Event </f:facet>

						<p:column headerText="Label">

							<h:outputLink value="#{statement.uri}">
								<h:outputText value="#{statement.label}" />
							</h:outputLink>

						</p:column>
						<p:column headerText="Comment">
							<h:outputText value="#{statement.comment}" />
						</p:column>

					</p:dataTable>

					<p:spacer width="100%" height="10" />

					<p:panelGrid id="display3" columns="2" columnClasses="label,value"
						style="width:450px">

						<f:facet name="header">  Information Related To The Event Place </f:facet>

						<p:outputLabel value="Label" />

						<h:outputLink value="#{viewEventController.event.geonames.uri}">
							<h:outputText value="#{viewEventController.event.geonames.label}" />
						</h:outputLink>

						<p:outputLabel value="Comment" />
						<p:outputLabel
							value="#{viewEventController.event.geonames.comment}" />
					</p:panelGrid>

				</p:panelGrid>

			</p:panelGrid>
		</h:form>



		<br />
	</ui:define>

</ui:composition>