<ui:composition template="/WEB-INF/template/LayoutPadraoIn.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">View User</ui:define>

	<ui:define name="corpo">
		<br />

		<h:form>
		
			<p:messages id="messages" />

			<p:panelGrid columns="2">
				<f:facet name="header">
					Data User
				</f:facet>


				<p:outputLabel value="Name:" for="name" />
				<p:inputText id="name" value="#{viewPersonController.personBean.name}" disabled="true"/>
					
				<p:outputLabel value="NickName:" for="nickName" />
				<p:inputText id="nickName" value="#{viewPersonController.personBean.nickName}" disabled="true"/>					

				<p:outputLabel value="E-mail:" for="email" />
				<p:inputText id="email" value="#{viewPersonController.personBean.email}" disabled="true"/>

				<p:outputLabel for="pwd1" value="Password:" rendered="#{viewPersonController.rendered}"/>
				<p:inputText id="pwd1" value="#{viewPersonController.personBean.password}" disabled="true" rendered="#{viewPersonController.rendered}"/>


				<f:facet name="footer">
					<p:commandButton value="Edit" action="#{viewPersonController.edit}"
						update="messages" disabled="#{viewPersonController.disabled}"/>
				</f:facet>

			</p:panelGrid>

		</h:form>

		<br />
	</ui:define>

</ui:composition>